.stat-icon{
    align-items: center;
    border-bottom: 3px solid #e6ecf0;
    padding:10px 10px;
    .stat-item{
        margin-right: 75px;
        i{
            margin-right: 50px;
        }
    }
    button{
        margin: 0px;
        padding: 0px;
    }
}