.modalWapper {

  .replyModalContianer {
    position: relative;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .modalTop {
      height: 88%;
    
      .modalClose {
          margin-top: 10px;
          padding: 6px 0px;
          border-bottom: 1px solid #E6ECF0;
      }    

      .tweetItem {
        position: relative;
        width: 100%; // 937px/1140px
        height: 103px;
        display: flex;
        justify-content: flex-end;
        padding-top: 10px;
        margin-bottom: 55px;

        .avatarBox {
          width: 50px;
          height: 50px;
          margin: 10px 10px 0 10px;

          .avatarImg {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }

          &::before {
            position: absolute;
            content: '';
            top: 80px;
            left: 33px;
            width: 2px;
            height: 80px;
            background-color: #CCD6DD;
          }
        }

        .tweetText {
          width: 88%;

          .topText {
            width: 100%;
            padding-top: 7px;
            display: flex;
            align-items: center;
            justify-content: space-between;
          
            .infoText {
              height: 26px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-size: 14px;
              margin-bottom: 6px;
          
              .name {
                font-weight: 700;
                font-size: 16px;
                margin-right: 10px;
              }
          
              .smallText {
                color: #6C757D;
              }

              .time {
                color: #6C757D;
              }
            }
          
          }
          
          .tweetContent {
            height: 52px;
            margin-bottom: 28px;
          }

          .bottmText {
            font-size: 13px;
            font-weight: 500;
            cursor: pointer;

            .reply {
              color: #657786;
            }

            .tweetUser {
              color: #FF6600;
              margin-left: 3px;
            }
          }
        }
      }

      .modalAvatarImg {
        position: absolute;
        top: 170px;
        left: 9px;
      }

      textarea {
        width: 85%;
        height: 40%;
        font-size: 18px;
        margin-left: 65px;
        margin-top: 10px;
        outline: none;
        border: none;
        resize: none;
        
        &::placeholder {
          color: #9197A3;
          font-size: 18px;
          font-weight: 500;
        }
      }
    }

    .modalBottom {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
      margin-right: 10px;
    
      .alertWord {
        color: #FC5A5A;
        font-size: 15px;
        font-weight: 500;
      }
    
      .modalButton {
        padding: 10px 15px 10px 15px;
        color: white;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
        border: none;
        border-radius: 50px;
        background-color: #FF6600;
      }
    }
  }
}
#replyModal{
  .modal-header{
    .modalCloseIcon {
      margin-left: 15px;
      cursor: pointer;
      fill: #696974;
      
      &:hover {
        fill: #FF6600;
      }
    }
  }
  .modalWapper {
    height: 400px;
  }
  .modal-footer{
    border-top: none;
  }
}
