textarea{
    font-size: 1.5em;
    width: 80%;
    border: none;
    resize: none;
    padding: 10px 15px;
}
.new-post-content{
    .btn{
        font-size: 1.5em;
        color:#7b7b7b;
        background-color: inherit;
        border: none;
        width: 80%;
        text-align: start;
        padding: 10px 0px 60px 15px;        
    }
}