.loginContainer {
  width: 100vw;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;

  .iconBox {
    display: inline-block;
    width: 40px;
    height: 40px;

    .icon {
      width: 100%;
      height: 100%;
    }
  }


  .iconTitle {
    font-weight: 700;
    padding-bottom: 12px;
    padding-top: 2px;
  }

  form {
    .formContainer {
      width: 31%;
      margin: 0 auto;
      padding-bottom: 24px;

      .group {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #696974;
        background-color: #F5F8FA;

        label {
          text-align: start;
          padding: 5px 0;
          padding-left: 11px;
          font-size: 14px;
          border: 0px;
        }

        input[type=text],
        input[type=password] {
          padding: 5px 0;
          padding-left: 13px;
          font-size: 16px;
          color: #696974;
          border: 0px solid #F5F8FA;
          background-color: #F5F8FA;
          border-bottom: 2px solid #657786;

          &:focus {
            outline: none;
            border-bottom: 2px solid #50B5FF;
          }

          &::placeholder {
            color: #B5B5BE;
          }
        }

        .alerGroup {
          position: relative;
          font-size: 12px;
          display: flex;

          .alertBox {
            position: absolute;
            width: 100%;
            top: -2px;
            left: 0px;
            text-align: start;
            border-top: 2px solid #fC5A5A;
            z-index: 3;

            .alert {
              color: #fC5A5A;
              left: 0%;
              top: 0%;
            }
          }

          .numAlertBox {
            width: 100%;
            text-align: end;
          }
        }
      }
    }

  }

  .btnGroup {
    width: 31%;
    margin: 0 auto;

    .orange {
      width: 100%;
      padding: 8px 24px;
      margin-bottom: 10px;
      font-size: 20px;
      color: #FFFFFF;
      cursor: pointer;
      border: 0px solid transparent;
      border-radius: 50px;
      background-color: #FF6600;

      &:hover {
        background-color: #FF7744;
      }
    }

    .aLink {
      width: 100%;
      padding: 6px 12px;
      text-align: end;
    }
  }
}